<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.uksivt.berlegen">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:roundIcon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:screenOrientation="portrait" android:name=".Courses.CourseCard"/>
        <activity android:screenOrientation="portrait" android:name=".Courses.Course" />
        <activity android:screenOrientation="portrait" android:name=".Alphabet.letter" />
        <activity android:screenOrientation="portrait" android:name=".Alphabet.Alphabet" />
        <activity android:screenOrientation="portrait" android:name=".Phrase.phrase" />
        <activity android:screenOrientation="portrait" android:name=".Phrase.phrasebook" />
        <activity android:screenOrientation="portrait" android:name=".Games.Game" />
        <activity android:screenOrientation="portrait" android:name=".Games.GameWords" />
        <activity android:screenOrientation="portrait" android:name=".Games.GameImages" />
        <activity android:screenOrientation="portrait" android:name=".Games.GameImagesTheme" />
        <activity android:screenOrientation="portrait" android:name=".MainActivity" />
        <activity android:screenOrientation="portrait" android:exported="true" android:name=".firstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>